# VacationPy
----

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps 
import os

# Import API key
from api_keys import g_key

print(g_key)

AIzaSyBK1tvvtPGH4LVQANoWGo1Qvb62IzNe0lk

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [27]:
file_path = "../Output/cities.csv"
cities_df = pd.read_csv(file_path)
cities_df.head()

,City,Country,Latitude,Longitude,Date,Cloudiness,Humidity,MaxTemp,WindSpeed
0,barrow,BR,-1.8333,-65.3667,2021-02-05,100,98,296.57,1.82
1,albany,BR,-1.8333,-65.3667,2021-02-05,100,98,296.57,1.82
2,butaritari,BR,-1.8333,-65.3667,2021-02-05,100,98,296.57,1.82
3,viljoenskroon,BR,-1.8333,-65.3667,2021-02-05,100,98,296.57,1.82
4,tecoanapa,BR,-1.8333,-65.3667,2021-02-05,100,98,296.57,1.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [28]:
gmaps.configure(api_key = "AIzaSyBK1tvvtPGH4LVQANoWGo1Qvb62IzNe0lk")

In [29]:
loc_df = cities_df[['Latitude','Longitude']]
humidity_df = cities_df['Humidity']

loc_df.head()

   Latitude  Longitude
0   -1.8333   -65.3667
1   -1.8333   -65.3667
2   -1.8333   -65.3667
3   -1.8333   -65.3667
4   -1.8333   -65.3667

In [30]:
map_figure = gmaps.figure()
layer = gmaps.heatmap_layer(loc_df, weights = humidity_df, dissipating = False, max_intensity = 100, point_radius = 1)

map_figure.add_layer(layer)
map_figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure