# VacationPy
----

In [54]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps 
import os

# Import API key
from api_keys import g_key 

print(g_key)

AIzaSyBK1tvvtPGH4LVQANoWGo1Qvb62IzNe0lk

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [48]:
file_path = "../Output/cities.csv"
cities_df = pd.read_csv(file_path) 
cities_df.head()

,City,Country,Latitude,Longitude,Date,Cloudiness,Humidity,MaxTemp,WindSpeed
0,Ust-Nera,RU,64.5667,143.2000,2021-02-07,81,81,-3.86,9.26
1,Narsaq,GL,60.9167,-46.0500,2021-02-07,20,28,39.20,39.12
2,Mahébourg,MU,-20.4081,57.7000,2021-02-07,40,78,80.60,8.05
3,Ushuaia,AR,-54.8000,-68.3000,2021-02-07,75,87,51.80,5.75
4,Ochamchira,GE,42.7121,41.4721,2021-02-07,100,75,50.52,4.27

### Humidity Heatmap

In [49]:
loc_df = cities_df[['Latitude','Longitude']]
humidity_df = cities_df['Humidity'] 
humidity_max = humidity_df.max()

In [50]:
gmaps.configure(api_key = g_key)
map_figure = gmaps.figure()

layer = gmaps.heatmap_layer(loc_df, weights = humidity_df, dissipating = False, 
                            max_intensity = humidity_max, point_radius = 1)

map_figure.add_layer(layer)
map_figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [95]:
hotel_df = cities_df.loc[(70 < cities_df['MaxTemp']) & (cities_df['MaxTemp'] < 80) 
                           & (cities_df['WindSpeed'] < 10) & (cities_df['Cloudiness'] == 0) , :]  
hotel_df.reset_index(inplace = True) #need that for following loop
del hotel_df['index']
hotel_df

,City,Country,Latitude,Longitude,Date,Cloudiness,Humidity,MaxTemp,WindSpeed
0,Rosario,AR,-32.9468,-60.6393,2021-02-07,0,78,79.00,2.30
1,Achalpur,IN,21.2572,77.5086,2021-02-07,0,19,74.35,4.16
2,General Delgado,PY,-27.1667,-56.5167,2021-02-07,0,65,77.00,6.91
3,Kédougou,SN,12.5579,-12.1743,2021-02-07,0,35,75.20,4.61
4,Tura,IN,25.5198,90.2201,2021-02-07,0,28,75.09,4.14
5,Manacapuru,BR,-3.2997,-60.6206,2021-02-07,0,94,75.20,3.44
6,Keti Bandar,PK,24.1447,67.4497,2021-02-07,0,38,72.48,7.96

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [96]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
hotel_list = []

for i in range(len(hotel_df)):
    lat = hotel_df.loc[i]['Latitude']
    lng = hotel_df.loc[i]['Longitude'] 
    
    params = { "location": f"{lat},{lng}", "radius": 5000, "types" : "hotel", "key": "AIzaSyBK1tvvtPGH4LVQANoWGo1Qvb62IzNe0lk" }
     
    resp_data = requests.get(base_url, params = params).json()
    
    try:
        hotel_list.append(resp_data['results'][0]['name'])
        #hotel_df.loc[i]['HotelName'] = resp_data['results'][0]['name']
    except:
        hotel_list.append("")
        
#hotel_df['HotelName'] = hotels
hotels = pd.Series(hotel_list)
hotel_df['HotelName'] = hotels.values 
hotel_df

<ipython-input-96-b53e0c3a5fbd>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['HotelName'] = hotels.values

,City,Country,Latitude,Longitude,Date,Cloudiness,Humidity,MaxTemp,WindSpeed,HotelName
0,Rosario,AR,-32.9468,-60.6393,2021-02-07,0,78,79.00,2.30,Rosario
1,Achalpur,IN,21.2572,77.5086,2021-02-07,0,19,74.35,4.16,Paratwada
2,General Delgado,PY,-27.1667,-56.5167,2021-02-07,0,65,77.00,6.91,San Estanislao
3,Kédougou,SN,12.5579,-12.1743,2021-02-07,0,35,75.20,4.61,Kedougou
4,Tura,IN,25.5198,90.2201,2021-02-07,0,28,75.09,4.14,Tura
5,Manacapuru,BR,-3.2997,-60.6206,2021-02-07,0,94,75.20,3.44,Manacapuru
6,Keti Bandar,PK,24.1447,67.4497,2021-02-07,0,38,72.48,7.96,Keti Bandar

In [100]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{HotelName}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [103]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
map_figure.add_layer(markers) 
# Display figure
map_figure

Figure(layout=FigureLayout(height='420px'))